{% extends 'layout.html.twig' %}

{% set main = 'account' %}

{% block title %}
	{{ app.user.name }}
{% endblock %}

{% block breadcrumbs %}
	<li><a href="{{ path('index') }}">uproom</a></li>
	<li>{{ app.user.name }}</li>
{% endblock %}

{% block content %}
<h1>{{ app.user.name }}</h1>

<div class="card">
	<div class="row detail-container">
		<div class="col-11">
			<ol>
				<li>
					Správce místnosti:
				</li>
				<li>
					Správce skupiny:
				</li>
				<li>
					Uživatel místností:
				</li>
				<li>
					Člen skupin:
				</li>
			</ol>
		</div>
	</div>
</div>
{% endblock %}
