{% extends "layout.html.twig" %}

{% block content %}

    <header>
        <nav>
            <ul>
                <li>
                    <a href="?page=search">zpět</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>404 Not Found</h1>
    </main>

{% endblock %}