{% extends 'layout.html.twig' %}

{% set main = 'role' %}

{% block title %}
{% endblock %}

{% block breadcrumbs %}
	<li><a href="{{ path('index') }}">Eviz</a></li>
	<li>Role</li>
{% endblock %}

{% block content %}

{% for role in roles %}

    <ol>
        <li class="font-weight-bold">{{ role.title }}</li>
        <li class="pl-4">{{ role.description }}<li>
    </ol>

{% endfor %}

{% endblock %}
